/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
/* End Variables */

/* Start Global Rules */

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    behavior: smooth;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}



.Container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

    /* Small */
@media (min-width: 768px) {
    .Container {
      width: 720px;
    }

}
    /* Medium */
@media (min-width: 992px) {
    .Container {
      width: 970px;
    }

}
   /* Large */
@media (min-width: 1200px) {
    .Container {
      width: 1170px;
    }
}


/* End Global Rules */

/* start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-size: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p{
  margin: -30px;
  text-align: center;
  font-size: 20px;
  color: #797979;
}

@media (max-width:767px){
  .special-heading{
    font-size: 60px;
  }
  .special-heading + p{
    margin: -10px;
  }
}

/* end componets */


/* Start Header */

.Header{
    padding: 20px;
}

.Header .Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Header .Container img{
    position: relative;
    right: 30px ;
    width: 60px;
}
.Header .Container .Links .icon i{
    font-size: 18px;
    position: relative;
    left: 40px;
}
/* ul */
.Header .Container .Links ul {
    border-radius: 8px;
    background-color: var(--section-background);
    z-index: 10;
    border-radius: 5px;
    padding: 0;
    position:absolute;
    top: 37px;
    width: 160px;
    margin-right: 200px;
    margin-left: -90px;
    display: none;
}

.Header .Container .Links:hover ul{
   display: block;
}
.Header .Container .Links ul::before{
    content: '';
    border: 12px solid transparent;
    border-bottom-color: var(--section-background);
    position: absolute;
    top: -23px;
    right: 6%;
}
/* ul li */
.Header .Container .Links ul li{
    display: block;
    border-top: 2px solid #ddd8d8;
}

.Header .Container .Links ul li:first-child{
    border-top: none;
}
/* ul li a */
.Header .Container .Links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
.Header .Container .Links ul li a:hover{
    padding-left: 25px;
}

/* End Header */

/* Landing Section */
.Landing{
   /*margin-top: -22px;
   */background: url(../img/pexels-pixabay-247431.jpg);
   background-repeat: no-repeat;
   height: calc(100vh - 64px);
   background-size: cover;
   position: relative;
   background-position: bottom;
}

.Landing  .info--text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    max-width: 100%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.Landing  .info--text h1{
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.Landing  .info--text p{
    color: white;
}

/* End Landing Page */

/* start features section */

.Features{
  background: var(--section-background);
  padding: var(--section-padding) 0;
}
.Features .Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.Features .Container .item{
    padding: 20px;
    text-align: center;
}
.Features .Container .item i{
    color: var(--main-color);
    font-size: 30px;
    margin: 10px 0;
}
.Features .Container .item div{
    font-weight: 800;
    margin: 10px 0;

}
.Features .Container .item p{
  margin: 15px 0;
  color: #9f8c8c;
  line-height: 1.6;

}

/* end features section */


/* start Services */
.Services{
    padding: var(--section-padding) 0;
}
.Services .Container .Services--Content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin-top: 100px;
}
.Services .Container .Services--Content  .col--1 .srv{
    display: flex;
    margin-bottom: 30px;
}

.Services .Container .Services--Content .col--1 .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.Services .Container .Services--Content  .col--1 .srv .text{
    flex: 1;
}
.Services .Container .Services--Content .col--1 .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.Services .Container .Services--Content .col--1 .srv .text h3{
    margin: 0 0 20px;
}
.Services .Container .Services--Content .col--1 .image{
    text-align: center;
    position: relative;
}
.Services .Container .Services--Content .col--1 .image img{
    width: 260px;
}
.Services .Container .Services--Content .col--1 .image::after{
    content: '';
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    position: absolute;
    top: -50px ; 
    right: 0;
    z-index: -1; 
}
@media (max-width:674px){
    .Services .Container .Services--Content .col--1 .image::after{
        content: '';
        background-color: var(--secondary-color);
        width: 100px;
        height: calc(100% + 100px);
        position: absolute;
        top: -50px ; 
        right: 40px;
        z-index: -1; 
    }
    .Services .Container .Services--Content .col--1 .srv{
        text-align: center;
        display: block;
        margin-bottom: 30px;
    } 
    .Services .Container .Services--Content .col--1 .srv i{
        margin-bottom: 20px;
    }
}
@media (max-width:990px) {
    .Services .Container .Services--Content .col--1:nth-child(3){
        display: none;
    }
}
/* End Services  Section */


/* Start Portfolio section */

.Portfolio{
    padding: var(--section-padding) 0;
    background: var(--section-background);
}
.Portfolio .Container .Cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin: 100px -5px;
}
.Portfolio .Container .Cards .item{
    background: #ffffff;
}
.Portfolio .Container .Cards .item .image img{
    width: 100%;
}
.Portfolio .Container .Cards .item img{
    width: 100%;
}
.Portfolio .Container .Cards .item .text{
    padding: 0 20px;
}

.Portfolio .Container .Cards .item .text p{
    color: #777;
    line-height: 1.6;

}
.Portfolio .Container .button{
    text-align: center;
}
.Portfolio .Container .button button{
    border: 2px solid #333;
    color: #333;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* End Portfolio Section */

/* Start About Section */
.About {
    padding: var(--section-padding) 0;
}
.About .Container .flex--Cont{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 100px 0;
    position: relative;
    top: 50px;

}
.About .Container .flex--Cont .image{
    flex: 1 0 50%;
    text-align: center;
    position: relative;
}
.About .Container .flex--Cont .image::after,
.About .Container .flex--Cont .image::before{
    content: '' ;
    background: var(--main-color);
    position: absolute;
    z-index: -1;
    width: 80px;
}
.About .Container .flex--Cont .image::before{
    height: 85%;
    right: 122px;
    top: -35px;
}
.About .Container .flex--Cont .image::after{

    height: 80px;
    top: 208px;
    right: 43px;
}
.About .Container .flex--Cont .image img{
    width: 250px;
    height: 375px;
}

.About .Container .flex--Cont .text {
    flex: 1 0 50%;
}
.About .Container .flex--Cont .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.About .Container .flex--Cont .text p:last-of-type{
    line-height: 2;
    color: #777;
}
.About .Container .flex--Cont .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
@media (max-width:522px) {
    .About .Container .flex--Cont .text {
        text-align: center;
        position: relative;
        top: 60px;
    }
}

/* End About Section */

/* start Contact Section */
.Contact{
    background: var(--section-background);
    padding: var(--section-padding) 0;
}
.Contact  .contact--text{
    display: flex;
    flex-direction: column;
    margin: 100px 0 50px 100px;
}
.Contact .contact--text p{
    font-size: 35px;
    font-weight: 900;
    color: var(--secondary-color);
    margin: 0;
}
.Contact .contact--text a{
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
    padding-left: 28px;
}
.Contact  .contact--text .social--icons{
    word-spacing: 1.8px;
    position: relative;
    top: 40px;
    color: #333;
    font-size: 19px;
}
@media (max-width:670px) {
    .Contact .contact--text {
        align-items: center;
        margin-left: 0;
    }
    .Contact .contact--text p{
        font-size: 20px;
    }
    .Contact .contact--text a{
        font-size: 18px;
    }
    .Contact  .contact--text .social--icons{
        font-size: 15px;
    }
    
}
/* start Contact Section */
/* start Footer Section */
.Footer{
    text-align: center;
    background: var(--secondary-color);
    color: white;
    letter-spacing: 1.7px;
    padding: 20px;
}
.Footer span{
    color: var(--main-color);
}
@media (max-width: px) {
    .Footer{
        font-size: 5px;
    }
}
/* End Footer Section */